.header-container {
  display: flex;
  flex-direction: column;
  width: 100vw;

  .title {
    padding: 12px 48px;
    font-size: 36px;
  }

  .nav {
    align-items: center;
    flex: 1 1 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;

    .nav-button {
      width: 100%;
    }
  }
}
