<div class="header-container">
  <mat-toolbar color="primary">
    <span class="title">Wes' Reloading App</span>

    <a class="nav-button" mat-raised-button routerLink="/" routerLinkActive="active">
      Home
    </a>
    <a class="nav-button" mat-raised-button routerLink="/recipe" routerLinkActive="active">
      Recipe
    </a>
    <a class="nav-button" mat-raised-button routerLink="/load-data" routerLinkActive="active">
      Load Data
    </a>
    <a class="nav-button" mat-raised-button routerLink="/firearm" routerLinkActive="active">
      Firearm
    </a>
    <a class="nav-button" mat-raised-button routerLink="/inventory" routerLinkActive="active">
      Inventory
    </a>
  </mat-toolbar>
</div>
