<div class="header-container">
  <mat-toolbar color="primary">
    <span class="title">Wes' Reloading App</span>
    <mat-toolbar-row class="nav">
      <a class="nav-button" matButton routerLink="/" routerLinkActive="active">
        Home
      </a>
      <a class="nav-button" matButton routerLink="/recipe" routerLinkActive="active">
        Recipe
      </a>
      <a class="nav-button" matButton routerLink="/load-data" routerLinkActive="active">
        Load Data
      </a>
      <a class="nav-button" matButton routerLink="/firearm" routerLinkActive="active">
        Firearm
      </a>
      <a class="nav-button" matButton routerLink="/inventory" routerLinkActive="active">
        Inventory
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
