.page-container {
  display: flex;
  flex-direction: column;

  .button-row {
    padding: 24px 0;
  }

  .form-selector-row {
    display: flex;
    justify-content: flex-start;

    .form-selector {
      max-width: 320px;
    }
  }
}
