
<div class="page-container grid">
  <h1>Inventory</h1>
  <p>Manage your inventory of components and supplies for reloading.</p>

  <mat-tab-group class="tab-group" [(selectedIndex)]="selectedIndex">
    @for (item of inventoryMenu; track item.id) {
      <mat-tab label="{{ item.name }}">
        <div class="button-row">
          <button aria-label="Add Mode" mat-raised-button (click)="changeViewMode(InventoryMode.add)">
            <mat-icon>add_circle</mat-icon>
          </button>
          <button aria-label="View Mode" mat-raised-button (click)="changeViewMode(InventoryMode.view)">
            <mat-icon>table</mat-icon>
          </button>
        </div>

        @switch (viewMode()) {
          @case (InventoryMode.add) {
            <p class="mode-indicator">Add Mode</p>
            <div class="form-container">
              {{ selectedIndex }}
              @switch (selectedIndex) {
                @case (InventoryMenu.brass) {
                  <app-brass></app-brass>
                }
                @case (InventoryMenu.bullets) {
                  <app-bullet-form></app-bullet-form>
                }
                @case (InventoryMenu.powders) {
                  <app-powder-form></app-powder-form>
                }
                @case (InventoryMenu.primers) {
                  <app-primer-form></app-primer-form>
                }
                @default {
                  <p>Please select an inventory form to manage your components.</p>
                }
              }
            </div>
          }
          @case (InventoryMode.edit) {
            <p class="mode-indicator">Edit Mode</p>
            @switch (selectedIndex) {
              @case (InventoryMenu.brass) {
                <app-brass></app-brass>
              }
              @case (InventoryMenu.bullets) {
                <app-bullet-form></app-bullet-form>
              }
              @case (InventoryMenu.powders) {
                <app-powder-form></app-powder-form>
              }
              @case (InventoryMenu.primers) {
                <app-primer-form></app-primer-form>
              }
              @default {
                <p>Please select an inventory form to manage your components.</p>
              }
            }
          }
          @case (InventoryMode.view) {
            <p class="mode-indicator">{{item.name}} View Mode</p>
            <app-inventory-table [tableData]="inventoryTableData()" [type]="selectedIndex"></app-inventory-table>
          }
        }
      </mat-tab>
    }
  </mat-tab-group>
</div>
